.promo-field input:disabled {
    border: 2px solid #04c500 !important;
    color: #04c500 !important;
    -webkit-text-fill-color: #04c500 !important;
    opacity: 1 !important;
    font-weight: 700;
}
.discount-block p {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.3;
    margin-top: 17px;
    color: #000;
    padding: 4px 0;
    text-align: left;
}
.grren {
    color: #03a800;
}

.same_as_billing {
    justify-content: flex-start;
    font-weight: 500;
}
.frm-head{
     text-align: left;
    font-size: 1.1rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 6px;
}

.same_as_billing {
    margin: 30px 0px 20px;
}

#billing_checkbox{
    width: 16px;
    height: 16px;
        accent-color: #020202;
            position: relative;

}

.ship-head-text{
        margin-top: 10px;
}

.same_as_billing label{
    font-size: 16px !important;
}

.show-mobile{
    display: none;
}


@media screen and (min-width:1200px){}
@media screen and (min-width:1200px) and (max-width: 1280px) {

}

@media screen and (min-width:768px) and (max-width: 1199.5px) {
*{
            box-sizing: border-box;
}
    .checkout .wrapper {
        min-width: auto;
    }
    .header__warning .container {
        max-width: 100%;
    }

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .order__left {
        width: 60%;
    }
    .order__right {
        width: 40%;
    }

}

@media screen and (min-width:768px) and (max-width: 991.5px) {


}

@media screen and (max-width:767.5px){
*{
            box-sizing: border-box;
}
    .checkout .wrapper {
        min-width: auto;
    }
    .header__warning .container {
        max-width: 100%;
    }

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .order__left {
        width: 100%;
        float: none;
    }
    .order__right {
        width: 100%;
        float: none;
        margin-bottom: 30px;
        padding: 0px;
    }
    .header__info {
    float: none;
    width: 100%;
}
.delivery-block {
    float: none;
    padding-left: 160px;
    display: table;
        margin: 0 auto;
}
  .checkout .header__logo {
    float: none;
}
.steps__item {
    font-size: 10px;
    font-weight: 500;
}
.package-info {
    width: 100%;
    padding-right: 0px;
}
.package-images {
            width: 80%;
        max-width: 331px;
        margin: 0 auto;
        display: table;
        float: none;
}
#topfrm .container{
        max-width: 500px;
}
.show-desktop{
    display: none;
}
.show-mobile{
    display: block;
}
}

@media screen and (min-width:576px) and (max-width: 767px) { 


}

@media screen and (min-width:481px) and (max-width: 575px) {

 }
 

@media screen and (min-width:320px) and (max-width: 480px) {
  


 }