select::-ms-expand {

  display: none;

}

select.has-error, select.no-error{

   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;

}



input.has-error,

select.has-error {

  border: 1px solid orange !important;

  background: url(../img/error-input_1.png) 99.5% 50% no-repeat #fff !important;

  appearance: none !important;
  padding-right: 30px !important;
  text-overflow: ellipsis !important;

}



input.no-error,

select.no-error {

  background: url(../img/tick-input_1.png) 99.5% 50% no-repeat #fff !important;

  border: 1px solid green !important;

  appearance: none !important;
  padding-right: 30px !important;
  text-overflow: ellipsis !important;

}



#app_common_modal,

#error_handler_overlay {

  overflow: hidden;

}



#app_common_modal .app_modal_body {

  margin: 30px auto;

}



@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {

  #app_common_modal .app_modal_body {

    min-height: 180px;

    margin: 30px auto;

  }

  #app_common_modal .app_modal_body iframe {

    min-height: 180px;

  }

}



@media screen and (min-width:320px) and (max-width:1200px) and (orientation:landscape) {

  #app_common_modal .app_modal_body {

    min-height: 180px;

    margin: 30px auto;

  }

  #app_common_modal .app_modal_body iframe {

    min-height: 180px;

    height: 180px;

    overflow-y: scroll;

  }

  #app_common_modal .app_modal_body,

  #error_handler_overlay .error_handler_body {

    height: auto;

  }

  .error_handler_body ul li {

    font-size: 12px;

  }

  #error_handler_overlay .error_handler_body ul {

    height: auto;

    overflow: scroll;

  }

}



#app_common_modal_close,

#error_handler_overlay_close {
    line-height: 26px;
    box-sizing: border-box;

}

#error_handler_overlay .error_handler_body{

  margin: 30px auto;

}



.timer-line {

    text-align: center;

    width: 100%;

    background: #000;

    line-height: 2;

}

#loading-indicator:after,

#loading-indicator:before{

    display:none;

}

.white_box{

    background: #fff;

    border-radius: 5px;

    color: #000;

    font-family: arial;

    font-size: 17px;

    height: 110px;

    padding:10px;

    max-width: 300px;

    width:95%;

    z-index: 1;

    text-align:center;

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    -webkit-transform: translate(-50%, -50%);

    -moz-transform: translate(-50%, -50%);

}
#loading-indicator {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    box-sizing: border-box;
    font-size: 1px;
    height: 100%;
    left: 0;
    margin: 0!important;
    padding: 0!important;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2147483646;
}
.white_box i,

.white_box span{

    display:block;

}

.white_box span{

    margin-top:5px;

}

.white_box img{

    max-width: 64px;

    width: 100%;

    display: inline-block;

}
.footer_link a {
    display: inline-block;
    margin: 5px 0;
    font-size: 12px;
    width: auto;
    text-decoration: none;
    color: #006c7c;
}
.footer_link {
    text-align: center;
    margin-bottom: 20px;
}
.footer_link {
    text-align: center;
    margin-bottom: 20px;
}
.ups .u-copyright {
    margin-bottom: 15px;
    font-size: 15px;
}
.u-stars li {
    background: url(../img/star.svg) no-repeat;
    background-size: contain;
}
@media(max-width:480px){

    .white_box span{

        font-size:14px;

    }

}

@media(min-width:768px)and (max-width:1199px){

    .cta-block__bottle img{

        width:120px;

        margin-top: -40px !important;

    }

}

form.is-upsell{

    padding:0px;

}

img {
    user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none; /* Optional: disables clicking/dragging */
}
.header__logo2 {
    max-width: 180px;
    margin-top: 6px !important;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-left: -24px;
    box-shadow: rgb(255, 156, 42) 0px 0px 5px inset;
    padding: 10px;
    border-radius: 5px;
}